# Ignore virtual environment
venv/

# Ignore IDE/editor settings
.vscode/
.idea/

# Ignore cache/compiled files
__pycache__/
*.log

# Ignore OS/system files
*.exe
*.lnk
*.torrent
*.pdf
*.docx
*.ini
*.dat
